---
othertag: MyTag
message: A message from Yaml front matter!
---

@{
    Layout = @"_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
<h1>This is index.cshtml.</h1>

It is being rendered with the aid of a layout. The file was last changed at @ViewBag.FileInfo.LastWriteTimeUtc

@ViewBag.othertag
@ViewBag.message

